*{
    margin: 0;
    padding:0;
}
.login{
    display: block;
    background-color: rgb(181, 186, 186);
    color:rgb(147, 141, 141);
    width: 20%;
    height: 189px;
    margin-left: 300px;
    margin-top: 156px;
  border-radius: 10px;
 inset-block-end: 30px;

}
.input{
    /* display: block; */
    text-align: center;
    margin-left: 56px;
    padding: 5px;
    margin-top: 10px;
  

}
.button{
    width: 90px;
    height: 30px;
    margin-left: 90px;
    margin-top: 10px;
    padding: 5px;
    background-color: aquamarine;
    color: rgb(99, 99, 91);
}